body {
    background-color:whitesmoke;
    font-family: 'Arial' 'Times New Roman', 'Times';    
}

h2 { 
    color:#009999;  
    font-family: 'Arial' 'Times New Roman', 'Times';
}

h3 { 
    color:#009999;  
    font-family: 'Arial' 'Times New Roman', 'Times';
}

.thumbnail {
    width:50%;
}

.main-image {
    width: 55%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    margin-left: auto; 
    font-weight: bold;   
}

.navbar-brand {
    font-family: 'Arial' 'Times New Roman', 'Times';
    font-size: 20px;
    background-color: #009999;
    padding: 1px;
    margin-left: auto;
  }

  th {
      text-align:center;
  }

  td {
      text-align:center;
  }

  /* th {
      background:white;
      position: sticky;
      top: 0;
  } */

  
  